body {
	background-color: #b8b8b8;
	font-size: 13px;
	line-height: 18px;
	color: #333;
}
#content {
	width: 800px;
	padding: 20px 30px;
	background-color: #fff;
	margin: 0 auto;
}
h1, h2 {
	color: #333;
	font-weight: normal;
}
h1 {
	font-size: 26px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}
h2 {
	font-size: 36px;
	line-height: 46px;
	font-style: italic;
	margin-top: 40px;
	margin-bottom: 20px;
}
.fixed {
	position: fixed;
	top: 20px;
	right: 0px;
	width: 200px;
	padding: 20px;
	font-style: italic;
	background-color: #666;
	color: #fff;
}
#puzzle {
	position: relative;
	width: 600px;
	height: 449px;
	border: 5px #333 solid;
	margin: 0 auto;
	background-image: url("img/v6/v6-watermark.jpg");
}
#puzzle img {
	position: absolute;
}
#puzzle #img1 { top: 0px; left: 0px; }
#puzzle #img2 { top: 0px; left: 117px; }
#puzzle #img3 { top: 0px; left: 200px; }
#puzzle #img4 { top: 0px; left: 366px; }
#puzzle #img5 { top: 0px; right: 0px; }
#puzzle #img6 { top: 73px; left: 0px; }
#puzzle #img7 { top: 106px; left: 85px; }
#puzzle #img8 { top: 79px; left: 232px; }
#puzzle #img9 { top: 118px; left: 327px; }
#puzzle #img10 { top: 81px; right: 0px; }
#puzzle #img11 { top: 226px; left: 0px; }
#puzzle #img12 { top: 188px; left: 118px; }
#puzzle #img13 { top: 222px; left: 200px; }
#puzzle #img14 { top: 187px; left: 358px; }
#puzzle #img15 { top: 253px; right: -86px; }
#puzzle #img16 { bottom: 0px; left: 0px; }
#puzzle #img17 { bottom: 0px; left: 85px; }
#puzzle #img18 { bottom: 0px; left: 237px; }
#puzzle #img19 { bottom: -50px; left: 360px; }
#puzzle #img20 { bottom: -70px; right: -90px; }